@{
    Layout = "~/Views/Shared/_LayoutForAccount.cshtml";
}


    <div class="single-layout">
        <div class="single-layout-row w-row">
            <!-- Левая колонка -->
            <div class="single-layout-col left w-col w-col-4">
                <div class="single-layout-left">
                    <a href="/" class="single-layout-logo w-inline-block">
                        <img src="images/5e89ee4106f670eaf2d24514_artboard-20white-20color.svg" width="100" alt="" />
                    </a>
                    <div>
                        <h4 class="white">Welcome onboard!</h4>
                        <p class="white text-large">A few clicks from creating your personal or admin dashboard.</p>
                        <p class="white text-large">Save your time and money!</p>
                        <a href="/" class="button button-primary mt-20 w-button">Learn more</a>
                    </div>
                </div>
            </div>

            <!-- Правая колонка -->
            <div class="single-layout-col right w-col w-col-8">
                <div class="single-layout-right-header">
                    Don't have an account?
                    <a href="/signup" class="link"><strong>Sign up</strong></a>
                </div>

                <div class="single-layout-right">
                    <div class="single-layout-right-content">
                        <div class="single-layout-logo-right">
                            <a href="/" class="w-inline-block">
                                <img src="images/5f1849420a7237b75a4f508d_artboard-20dark.svg" width="100" alt="" />
                            </a>
                        </div>
                        <h3 class="text-center mb-40">Sign in to Artboard</h3>

                        <!-- Форма входа -->
                        <div class="w-form">
                            <form id="email-form" name="email-form" data-name="Email Form">
                                <a href="http://google.com" class="button button-google button-block w-button">
                                    Login with Google
                                </a>
                                <p class="text-center">or continue with email:</p>

                                <input type="email" class="input w-input" maxlength="256" name="email" data-name="Email"
                                       placeholder="Enter your email" id="email" required="" />

                                <input type="password" class="input w-input" maxlength="256" name="password"
                                       data-name="Password" placeholder="Enter your password" id="password" required="" />

                                <label class="w-checkbox checkbox-field mb-40">
                                    <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
                                    <input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" required=""
                                           style="opacity:0;position:absolute;z-index:-1" />
                                    <span class="hint w-form-label">Remember me</span>
                                </label>

                                <input type="submit" value="Login" data-wait="Please wait..."
                                       class="button button-primary button-block w-button" />

                                <p class="text-center hint">
                                    <a href="/forgot-password" class="link">Forgot your password?</a>
                                </p>
                            </form>

                            <div class="success-message w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="error-message w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                        <!-- Конец формы -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    