@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Globalization

@inject IOptions<RequestLocalizationOptions> LocOptions

<span> | </span>
@foreach (CultureInfo item in LocOptions.Value.SupportedUICultures)
{
	<span style="cursor: pointer" onclick="ChangeCulture('@item.Name')">
		@item.Name.Substring(0, 2)
	</span>
	<span> | </span>
}