<div class="app-main-layout-container">
    <div class="app-main-layout-mask"></div>
    <div class="app-main-layout">


        <!--Welcome to Artboard!-->
        <div class="app-main-layout-header">
            <div class="app-main-layout-wrapper header">
                <div class="page-heading">
                    <h2>Welcome to Artboard!</h2>
                    <p class="mt-20 text-large">
                        Meet the first true Dashboard and Admin template on the Webflow marketplace!<br />
                        Start your growing business with this huge UI kit.
                    </p>
                </div>
            </div>
        </div>
        <!--Welcome to Artboard END-->



        <!--Overview-->
        <div class="app-main-layout-wrapper">
            <div class="app-main-layout-content">
                <div class="section-inner">
                    <div class="card">
                        <h4>Overview</h4>
                        <p>Artboard - is a classic Admin/Dashboard template and UI kit which is responsive, feature rich and easily customizable.</p>
                        <p>
                            It contains <strong>30+</strong> pre-designed pages for your application and includes
                            4 Dashboard variants (Analytics, Ecommerce, Cryptocurrency, Projects),
                            User Profile, 3 User Setting variants (Account Settings, Notifications, Device Management),
                            4 Payment variants (Payment Details, Manage Subscription, Price Plans, Receipt),
                            Inbox, Contacts CMS, Projects CMS, Login(Sign in), Sign up, Forgot Password, Switch Account,
                            5 Onboarding steps, Password, Search Result, 404, Project page, Contact page, Style Guides, Licensing +
                            huge amount of UI components.
                        </p>
                        <p>
                            Artboard template can be used for building all kind of Cross-platform Applications and Web applications like
                            custom backend admin panel, admin dashboard, accounting software, project management, chat application,
                            eCommerce, CMS, CRM, ERP or SAAS. It provides you all the UI you may need, <strong>everything in one place</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Overview END-->
    </div>
</div>
